<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/global_styles.css">
    {% block custom_style %}

    {% endblock %}
</head>
<body onload="date_time()">

<nav class="navbar navbar-expand-lg bg-primary" style="padding-left: 7%; padding-right: 7%">
    <div class="container-fluid">
        <img src="static/img/Flogo.png" alt="" style="width: 5%; height:5%;">
        <a class="navbar-brand mb-0 text-light" href="#">
            بانک فخر</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">درباره فخر</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">تماس با فخر</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            <div class="d-flex flex-column flex-shrink-0 p-3"
                 style="background-color: rgba(241,241,241,0.89); border-radius: 4%;">
                <a href="/"
                   class="d-flex align-items-center mb-md-0 me-md-auto link-dark text-decoration-none mx-auto fs-4">
                    ناحیه کاربری
                </a>
                <p id="date" class="mb-0 text-center mt-1" style="display: inline;"></p>
                <p id="clock" class="mb-0 text-center mt-1" style="display: inline;"></p>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    {% block sidebar_menu %}{% endblock %}
                </ul>
                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                       id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32"
                             class="rounded-circle me-2 mx-2">
                        <strong>یوزرنیم</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item text-end" href="#" id="sidebar-Profile" onclick="sidebar_menu(this, 'sidebar-Employees', 'sidebar-Customers',
'sidebar-Accounts',
'sidebar-Dashboard',
'sidebar-Transactions',
'sidebar-Loans')">نمایه</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-end" href="#">خروج</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9">
            {% block content %}{% endblock %}
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<script>
    function date_time() {
        const today = new Date();
        let time = today.toLocaleTimeString();
        let date = today.toLocaleDateString('fa-IR');
        let am_pm = time.split(' ')[1];
        if (am_pm === 'AM') {
            time = time.split(' ')[0] + ' قبل از ظهر'
        } else {
            time = time.split(' ')[0] + ' بعد از ظهر'
        }
        document.getElementById('date').innerHTML = " تاریخ: " + date;
        document.getElementById('clock').innerHTML = " ساعت: " + time;
        setTimeout(date_time, 1000);
    }

    function sidebar_menu(clicked_item, ...others) {
        if (clicked_item.id !== "sidebar-Profile") {
            clicked_item.classList.remove("text-dark");
            clicked_item.classList.add("active");
        }
        let div_content_id = clicked_item.id.split('-')[1];
        let div_content = document.getElementById(div_content_id);
        div_content.style.display = 'block';
        for (let i = 0; i < others.length; i++) {
            let sidebar_item = document.getElementById(others[i]);
            sidebar_item.classList.remove('active');
            sidebar_item.classList.add('text-dark');
            let div_content_id = sidebar_item.id.split('-')[1];
            console.log(sidebar_item);
            let div_content = document.getElementById(div_content_id);
            div_content.style.display = 'none';
        }
    }

</script>

{% block custom_script %}

{% endblock %}
</body>
</html>