<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global_styles.css') }}">
</head>
<body onload="clock()">

<nav class="navbar navbar-expand-lg bg-primary" style="padding-left: 7%; padding-right: 7%">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 text-light" href="#">بانک فخر</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">درباره فخر</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">تماس با فخر</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            <div class="d-flex flex-column flex-shrink-0 p-3"
                 style="background-color: rgba(241,241,241,0.89); border-radius: 4%;">
                <a href="/"
                   class="d-flex align-items-center mb-md-0 me-md-auto link-dark text-decoration-none mx-auto fs-4">
                    ناحیه کاربری
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link active" aria-current="page">
                            داشبورد
                        </a>
                    </li>
                    {% block sidebar_menu %}{% endblock %}
                </ul>
                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                       id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32"
                             class="rounded-circle me-2 mx-2">
                        <strong>یوزرنیم</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item text-end" href="#">نمایه</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-end" href="#">خروج</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text" style="display: inline;">تاریخ : 1402/02/01</p>
                    <p id="clock" class="mb-0" style="display: inline;"></p>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<script>
    function clock() {
        const today = new Date();
        let h = today.getHours();
        let m = today.getMinutes();
        let s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('clock').innerHTML = "ساعت : " + h + ":" + m + ":" + s;
        setTimeout(clock, 1000);
    }

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i
        }
        ;  // add zero in front of numbers < 10
        return i;
    }
</script>

</body>
</html>