{% extends '_base.html' %}

{% block page_title %}
    بانک فخر | لیست کارمندان
{% endblock %}

{% block custom_style %}
    <link rel="stylesheet" href="static/styles/jalalidatepicker.min.css">
{% endblock %}

{% block sidebar_menu %}
    <li class="nav-item">
        <a href="#" class="nav-link text-dark" aria-current="page">
            داشبورد
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link text-light active" aria-current="page">
            کارمندان
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link text-dark" aria-current="page">
            مشتریان
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" aria-current="page">
            حساب ها
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" aria-current="page">
            وام ها
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" aria-current="page">
            تراکنش ها
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-10">
            <h4 class="mt-4">لیست کارمندان</h4>
        </div>
        <div class="col-2 pt-3" style="padding-right: 4.15%;">
            <button class="btn btn-success">افزودن کارمند</button>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-11 pt-2">
            <h6 style="vertical-align: middle;">فیلتر ها:</h6>
        </div>
        <div class="col-1">
            <button class="btn btn-primary btn-small">اعمال</button>
        </div>
    </div>
    <form action="">
        <div class="row">
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">نام کاربری</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">شماره کارمندی</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">سن</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">زمان ثبت نام</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <button class="btn btn-outline-secondary" type="button">جنسیت</button>
                    <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                        <option selected>انتخاب</option>
                        <option value="1">آقا</option>
                        <option value="2">خانم</option>
                    </select>
                </div>
            </div>
        </div>
    </form>

    <div class="table-responsive mt-4">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ردیف</th>
                <th scope="col">شماره کارمندی</th>
                <th scope="col">نام کاربری</th>
                <th scope="col">نام</th>
                <th scope="col">نام خانوادگی</th>
                <th scope="col">جنسیت</th>
                <th scope="col">سن</th>
                <th scope="col">تلفن همراه</th>
                <th scope="col">زمان ثبت نام</th>
                <th scope="col">عملیات</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>123456</td>
                <td>Mooosthtafaaaa</td>
                <td>مصطفی</td>
                <td>فخرجنت</td>
                <td>آقا</td>
                <td>21</td>
                <td>0123456789</td>
                <td>5 دی ۱۲۹۱</td>
                <td>
                    <a type="button" class="btn btn-outline-primary btn-sm">مشاهده</a>
                    <a type="button" class="btn btn-outline-danger btn-sm">حذف</a>
                    <a type="button" class="btn btn-outline-warning btn-sm">تغییر</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

{% endblock %}
