{% extends '_base.html' %}

{% block page_title %}
    بانک فخر | لیست حساب ها
{% endblock %}

{% block custom_style %}
    <link rel="stylesheet" href="static/styles/jalalidatepicker.min.css">
{% endblock %}

{% block sidebar_menu %}
    <li class="nav-item">
        <a href="#" class="nav-link text-dark" aria-current="page">
            داشبورد
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link text-dark" aria-current="page">
            کارمندان
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link text-dark" aria-current="page">
            مشتریان
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link  text-light active" aria-current="page">
            حساب ها
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" aria-current="page">
            وام ها
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" aria-current="page">
            تراکنش ها
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-10">
            <h4 class="mt-4">لیست حساب ها</h4>
        </div>
        <div class="col-2 pt-3" style="padding-right: 4.34%;">
            <button class="btn btn-success">افزودن حساب</button>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-11 pt-2">
            <h6 style="vertical-align: middle;">فیلتر ها:</h6>
        </div>
        <div class="col-1">
            <button class="btn btn-primary btn-small">اعمال</button>
        </div>
    </div>
    <form action="">
        <div class="row">
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">موجودی</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">مالک</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">تاریخ ایجاد</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">شماره حساب</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">نام حساب</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>

            <div class="input-group-sm mb-3">
                <label class="input-group-text" for="inputGroupSelect01">نوع حساب</label>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>انتخاب</option>
                    <option value="1">حساب فخر</option>
                    <option value="2">حساب فاخر</option>
                    <option value="3">حساب افتخار</option>
                </select>
            </div>

        </div>
    </form>
    <div class="table-responsive mt-4">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ردیف</th>
                <th scope="col">شماره حساب</th>
                <th scope="col">نوع حساب</th>
                <th scope="col">نام حساب</th>
                <th scope="col">مالک</th>
                <th scope="col">موجودی</th>
                <th scope="col">زمان ایجاد</th>
                <th scope="col">عملیات</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>1234-5678-9012-3456</td>
                <td>حساب فاخر</td>
                <td>حساب مادربزرگ عمه احمد</td>
                <td>مصطفی احمدی</td>
                <td>653,659,232</td>
                <td>قبل از بیگ بنگ</td>
                <td>
                    <a type="button" class="btn btn-outline-primary btn-sm">مشاهده</a>
                    <a type="button" class="btn btn-outline-danger btn-sm">حذف</a>
                    <a type="button" class="btn btn-outline-warning btn-sm">تغییر</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

{% endblock %}
