{% extends '_base.html' %}

{% block page_title %}
    بانک فخر | ناحیه کاربری کارمند
{% endblock %}

{% block sidebar_menu %}
    <li class="nav-item">
        <a href="#" class="nav-link text-light active" id='sidebar-Dashboard' aria-current="page"
           onclick="sidebar_menu(this, 'sidebar-Profile', 'sidebar-Customers', 'sidebar-Accounts', 'sidebar-Loans', 'sidebar-Transactions')">
            داشبورد
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link text-dark" id='sidebar-Customers' aria-current="page"
           onclick="sidebar_menu(this, 'sidebar-Profile', 'sidebar-Dashboard', 'sidebar-Accounts', 'sidebar-Loans', 'sidebar-Transactions')">
            مشتریان
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" id='sidebar-Accounts' aria-current="page"
           onclick="sidebar_menu(this, 'sidebar-Profile', 'sidebar-Dashboard', 'sidebar-Customers', 'sidebar-Loans', 'sidebar-Transactions')">
            حساب ها
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" id='sidebar-Loans' aria-current="page"
           onclick="sidebar_menu(this, 'sidebar-Profile', 'sidebar-Dashboard', 'sidebar-Customers', 'sidebar-Accounts', 'sidebar-Transactions')">
            وام ها
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" id='sidebar-Transactions' aria-current="page"
           onclick="sidebar_menu(this, 'sidebar-Profile', 'sidebar-Dashboard', 'sidebar-Customers', 'sidebar-Accounts', 'sidebar-Loans')">
            تراکنش ها
        </a>
    </li>
{% endblock %}


{% block content %}
    <div id="Dashboard">
        <div class="row mb-3">
            <div class="col-6">
                <div class="card card_hover">
                    <div class="card-body">
                        <h5 class="card-title">مشتریان</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">تعداد مشتریان بانک</h6>
                        <p class="card-text display-1 text-center">{{ customers_count }}</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card card_hover">
                    <div class="card-body">
                        <h5 class="card-title">حساب ها</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">تعداد حساب های بانکی فعال</h6>
                        <p class="card-text display-1 text-center">{{ active_accounts_count }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card card_hover">
                    <div class="card-body">
                        <h5 class="card-title">وام ها</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">تعداد کل وام ها</h6>
                        <p class="card-text display-1 text-center">{{ account_loans_count }}</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card card_hover">
                    <div class="card-body">
                        <h5 class="card-title">تراکنش ها</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">تعداد کل تراکنش های انجام شده</h6>
                        <p class="card-text display-1 text-center">{{ transactions_count }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card card_hover my-3">
                    <div class="card-body">
                        <p class="card-text" style="display: inline;">موجودی حساب بانک : {{ bank_account.balance }}
                            تومان</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Customers" style="display: none;">
        <div class="row">
            <div class="col-10">
                <h4 class="mt-4">لیست مشتریان</h4>
            </div>
            <div class="col-2 pt-3" style="padding-right: 3.8%;">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addCustomerModal">افزودن مشتری
                </button>
            </div>
            <div class="modal fade" id="addCustomerModal" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">افزودن مشتری</h1>
                        </div>
                        <form method="POST" action="/add_customer">
                            <div class="modal-body">
                                <div class="form-floating my-3">
                                    <input type="text" class="form-control" id="floatingInput"
                                           placeholder="یک نام‌کاربری انگلیسی" name="username" required>
                                    <label for="floatingInput" style="right:0; transform-origin: 100% 0;">نام
                                        کاربری</label>
                                </div>
                                <div class="form-floating my-3">
                                    <input type="text" class="form-control" id="firstname" name="firstname"
                                           placeholder="اسم" required>
                                    <label for="firstname" style="right:0; transform-origin: 100% 0;">نام</label>
                                </div>
                                <div class="form-floating my-3">
                                    <input type="text" class="form-control" id="lastname" name="lastname"
                                           placeholder="فامیل" required>
                                    <label for="lastname" style="right:0; transform-origin: 100% 0;">نام
                                        خانوادگی</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput"
                                           placeholder="000000000000"
                                           name="phone_number" required
                                    >
                                    <label for="floatingInput" style="right:0; transform-origin: 100% 0;">تلفن
                                        همراه</label>
                                </div>
                                <p>جنسیت :</p>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender"
                                           id="gender-man" required value="آقا">
                                    <label class="form-check-label" for="gender-man">
                                        اقا
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender"
                                           id="gender-woman" value="خانم" checked>
                                    <label class="form-check-label" for="gender-woman">
                                        خانم
                                    </label>
                                </div>
                                <div class="form-floating my-3">
                                    <input type="date" class="form-control" id="birthdate" name="birthdate" required>
                                    <label for="birthdate" style="right:0; transform-origin: 100% 0;">تاریخ تولد</label>
                                </div>
                                <div class="form-floating my-3">
                                    <input type="password" class="form-control" id="password1" name="password1"
                                           placeholder="Password" required>
                                    <label for="password1" style="right:0; transform-origin: 100% 0;">کلمه عبور</label>
                                </div>
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="password2" name="password2"
                                           placeholder="Password" required>
                                    <label for="password2" style="right:0; transform-origin: 100% 0;">تکرار کلمه
                                        عبور</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
                                <button type="submit" class="btn btn-success">افزودن</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-11 pt-2">
                <h6 style="vertical-align: middle;">فیلتر ها:</h6>
            </div>
        </div>
       <div class="row">
            <div class="col my-auto">
                <div class="form-floating">
                    <input type="text" class="form-control" id="searchInCustomerName" placeholder="name@example.com"
                           onkeyup="searchInTable('customersTable', 'searchInCustomerName', 1)">
                    <label for="searchInCustomerName" style="right:0; transform-origin: 100% 0;">نام کاربری</label>
                </div>
            </div>
            <div class="col my-auto">
                <div class="form-floating">
                    <input type="number" class="form-control" id="searchInCustomerNumbers"
                           placeholder="name@example.com"
                           onkeyup="searchInTable('customersTable', 'searchInCustomerNumbers', 0)">
                    <label for="searchInCustomerNumbers" style="right:0; transform-origin: 100% 0;">شماره مشتری</label>
                </div>
            </div>
            <div class="col my-auto">
                <div class="form-floating">
                    <input type="number" placeholder="123" class="form-control" id="searchInCustomerPhoneNumbers"
                           onkeyup="searchInTable('customersTable', 'searchInCustomerPhoneNumbers', 6)">
                    <label for="searchInCustomerPhoneNumbers" style="right:0; transform-origin: 100% 0;">شماره
                        تلفن</label>
                </div>
            </div>
            <div class="col my-auto">
                <div class="col">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="searchInCustomerAges"
                               placeholder="name@example.com"
                               onkeyup="searchInTable('customersTable', 'searchInCustomerAges', 4)">
                        <label for="searchInCustomerAges" style="right:0; transform-origin: 100% 0;">سن</label>
                    </div>
                </div>
            </div>
        </div>
       <div class="table-responsive mt-4">
            <table class="table sortable" id="customersTable">
                <thead>
                <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">شماره مشتری</th>
                    <th scope="col">نام کاربری</th>
                    <th scope="col">نام</th>
                    <th scope="col">نام خانوادگی</th>
                    <th scope="col">سن</th>
                    <th scope="col">جنسیت</th>
                    <th scope="col">تلفن همراه</th>
                    <th scope="col">زمان ثبت نام</th>
                    <th scope="col">عملیات</th>
                </tr>
                </thead>
                <tbody>
                {% if customers %}
                    {% for customer in customers %}

                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ customer.user_id }}</td>
                            <td>{{ customer.username }}</td>
                            <td>{{ customer.first_name }}</td>
                            <td>{{ customer.last_name }}</td>
                            <td>{{ customer.get_age() }}</td>
                            <td>{{ customer.gender }}</td>
                            <td>{{ customer.phone_number }}</td>
                            <td>{{ customer.get_created_at() }}</td>
                            <td>
                                <a type="button" class="btn btn-outline-danger btn-sm m-1" data-bs-toggle="modal"
                                   data-bs-target="#deleteCustomer{{ customer.user_id }}Modal">حذف</a>
                                <a type="button" class="btn btn-outline-warning btn-sm m-1" data-bs-toggle="modal"
                                   data-bs-target="#editCustomer{{ customer.user_id }}Modal">ویرایش</a>
                            </td>
                        </tr>

                    {% endfor %}

                {% endif %}
                </tbody>
            </table>
            {% if not customers %}
                <p class="text-center text-muted">مشتری ای یافت نشد. یک مشتری اضافه کنید !</p>
            {% endif %}
            {% if customers %}
                {% for customer in customers %}
                    <div class="modal fade" id="editCustomer{{ customer.user_id }}Modal" data-bs-backdrop="static"
                         data-bs-keyboard="false"
                         tabindex="-1"
                         aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">ویرایش مشتری</h1>
                                </div>

                                <form method="POST" action="/edit_user/{{ customer.user_id }}">
                                    <div class="modal-body">
                                        <div class="form-floating my-3">
                                            <input type="text" class="form-control" id="floatingInput"
                                                   placeholder="یک نام‌کاربری انگلیسی" name="username"
                                                   value="{{ customer.username }}">
                                            <label for="floatingInput" style="right:0; transform-origin: 100% 0;">نام
                                                کاربری</label>
                                        </div>
                                        <div class="form-floating my-3">
                                            <input type="text" class="form-control" id="firstname" name="first_name"
                                                   required
                                                   placeholder="اسم"
                                                   value="{{ customer.first_name }}">
                                            <label for="firstname"
                                                   style="right:0; transform-origin: 100% 0;">نام</label>
                                        </div>
                                        <div class="form-floating my-3">
                                            <input type="text" class="form-control" id="lastname" name="last_name"
                                                   required
                                                   placeholder="فامیل"
                                                   value="{{ customer.last_name }}">
                                            <label for="lastname" style="right:0; transform-origin: 100% 0;">نام
                                                خانوادگی</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInput"
                                                   placeholder="000000000000"
                                                   name="phone_number" required
                                                   value="{{ customer.phone_number }}">
                                            <label for="floatingInput" style="right:0; transform-origin: 100% 0;">تلفن
                                                همراه</label>
                                        </div>
                                        <p>جنسیت :</p>
                                        <div class="form-check form-check-inline">

                                            <input class="form-check-input" type="radio" name="gender"
                                                   value="آقا" id="gender-man"
                                                    {% if customer.gender == 'آقا' %} checked {% endif %}  disabled>
                                            <label class="form-check-label" for="gender-man">
                                                اقا
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender"
                                                   id="gender-woman" value="خانم" {% if customer.gender == 'خانم' %}
                                                   checked {% endif %} disabled>
                                            <label class="form-check-label" for="gender-woman">
                                                خانم
                                            </label>
                                        </div>
                                        <div class="form-floating my-3">
                                            <input type="date" class="form-control" id="birthdate" name="birthdate"
                                                   value="{{ customer.birthdate }}" required>
                                            <label for="birthdate" style="right:0; transform-origin: 100% 0;">تاریخ
                                                تولد</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف
                                        </button>
                                        <button type="submit" class="btn btn-success">ویرایش</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="deleteCustomer{{ customer.user_id }}Modal" data-bs-backdrop="static"
                         data-bs-keyboard="false"
                         tabindex="-1"
                         aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">حذف مشتری</h1>
                                </div>

                                <form method="POST" action="/delete_user/{{ customer.user_id }}">
                                    <div class="modal-body">
                                        <h4>آیا مطمئنید ؟؟</h4>
                                        <p>آیا از حذف کارمند "{{ customer }}" با شماره مشتری {{ customer.user_id }}
                                            مطمئنید ؟</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف
                                        </button>
                                        <button type="submit" class="btn btn-danger">حذف</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            {% endif %}
        </div>
    </div>
    <div id="Accounts" style="display: none;">
        <div class="row">
            <div class="col-10">
                <h4 class="mt-4">لیست حساب ها</h4>
            </div>
            <div class="col-2 pt-3" style="padding-right: 4.34%;">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addAccountModal">افزودن حساب
                </button>
            </div>

            <div class="modal fade" id="addAccountModal" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">افزودن حساب</h1>
                        </div>
                        <form method="POST" action="/add_account">
                            <div class="modal-body">
                                <p>کاربر حساب را انتخاب کنید</p>
                                <select class="form-select my-3" name="user_id">
                                    <option selected disabled>کاربر</option>
                                    {% for customer in customers %}
                                        <option value="{{ customer.user_id }}">{{ customer }}</option>
                                    {% endfor %}
                                </select>
                                <p>نوع حساب :</p>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type"
                                           id="type-fakhr" value="فخر" checked>
                                    <label class="form-check-label" for="type-fakhr">
                                        حساب فخر
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type"
                                           id="type-fakher" value="فاخر">
                                    <label class="form-check-label" for="type-fakher">
                                        حساب فاخر
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type"
                                           id="type-eftekhar" value="افتخار">
                                    <label class="form-check-label" for="type-eftekhar">
                                        حساب افتخار
                                    </label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
                                <button type="submit" class="btn btn-success">افزودن</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="row my-2">
            <div class="col-11 pt-2">
                <h6 style="vertical-align: middle;">فیلتر ها:</h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input type="number" class="form-control" id="searchInAccountBalances"
                           placeholder="name@example.com"
                           style="height:2px !important;"
                           onkeyup="searchInTable('accountsTable', 'searchInAccountBalances', 4)">
                    <label for="searchInAccountBalances" style="right:0; transform-origin: 100% 0;">موجودی
                        (تومان)</label>
                </div>
            </div>

            <div class="col">
                <div class="form-floating">
                    <input type="number" class="form-control" id="searchInAccountNumbers"
                           onkeyup="searchInTable('accountsTable', 'searchInAccountNumbers', 0)"
                           placeholder="account_number">
                    <label for="searchInAccountNumbers" style="right:0; transform-origin: 100% 0;">شماره حساب</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col my-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="searchInAccountCreatedAt"
                           onkeyup="searchInTable('accountsTable', 'searchInAccountCreatedAt', 5)" placeholder="12">
                    <label for="searchInAccountCreatedAt" style="right:0; transform-origin: 100% 0;">زمان
                        ایجاد</label>
                </div>
            </div>

            <div class="col my-3">

                <div class="form-floating">
                    <input type="text" class="form-control" id="searchInAccountTypes"
                           placeholder="account_number"
                           onkeyup="searchInTable('accountsTable', 'searchInAccountTypes', 1)">
                    <label for="searchInAccountTypes" style="right:0; transform-origin: 100% 0;">نوع حساب</label>
                </div>
            </div>
            <div class="col my-3">

                <div class="form-floating">
                    <input type="text" class="form-control" id="searchInAccountOwners"
                           placeholder="account_number"
                           onkeyup="searchInTable('accountsTable', 'searchInAccountOwners', 3)">
                    <label for="searchInAccountOwners" style="right:0; transform-origin: 100% 0;">مالک حساب</label>
                </div>
            </div>
        </div>
        <div class="table-responsive mt-4">
            <table class="table sortable" id="accountsTable">
                <thead>
                <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">شماره حساب</th>
                    <th scope="col">نوع حساب</th>
                    <th scope="col">نام حساب</th>
                    <th scope="col">مالک</th>
                    <th scope="col">موجودی (تومان)</th>
                    <th scope="col">زمان ایجاد</th>
                    <th scope="col">وضعیت</th>
                    <th scope="col">عملیات</th>

                </tr>
                </thead>
                <tbody>
                {% for account in accounts %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ account.account_number }}</td>
                        {% if account.type == 'فخر' %}
                            <td>
                                <h5>
                                    <span class="badge text-bg-success">حساب {{ account.type }}</span>
                                </h5>
                            </td>
                        {% elif account.type == 'فاخر' %}
                            <td>
                                <h5>
                                    <span class="badge text-bg-warning">حساب {{ account.type }}</span>
                                </h5>
                            </td>
                        {% else %}
                            <td>
                                <h5>
                                    <span class="badge text-bg-info">حساب {{ account.type }}</span>
                                </h5>
                            </td>
                        {% endif %}
                        <td>{% if account.name and account.name != 'None' %}{{ account.name }}{% else %}بی
                            نام{% endif %}</td>
                        <td>{{ account.get_owner() }}</td>
                        <td>{{ account.balance }}</td>
                        <td>{{ account.get_created_at() }}</td>
                        <td>
                            {% if account.status %}
                                <h5><span class="badge bg-primary">باز</span></h5>
                            {% else %}
                                <h5><span class="badge bg-danger">مسدود</span></h5>
                            {% endif %}
                        </td>
                        <td>
                            <a type="button" class="btn btn-outline-danger btn-sm m-1" data-bs-toggle="modal"
                               data-bs-target="#deleteAccount{{ account.account_id }}Modal">حذف</a>
                            <a type="button" class="btn btn-outline-warning btn-sm m-1" data-bs-toggle="modal"
                               data-bs-target="#editAccount{{ account.account_id }}Modal">ویرایش</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if not accounts %}
                <p class="text-center text-muted">حسابی یافت نشد. یک حساب جدید ایجاد کنید !</p>
            {% endif %}
        </div>
        {% if accounts %}
            {% for account in accounts %}
                <div class="modal fade" id="editAccount{{ account.account_id }}Modal" data-bs-backdrop="static"
                     data-bs-keyboard="false"
                     tabindex="-1"
                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">ویرایش حساب</h1>
                            </div>
                            <form method="POST" action="/edit_account/{{ account.account_id }}">
                                <div class="modal-body">
                                    <p>مالک :</p>
                                    <select class="form-select my-3" name="user_id">
                                        <option disabled>کاربر</option>
                                        {% for customer in customers %}
                                            <option value="{{ customer.user_id }}"
                                                    {% if customer.user_id == account.user_id %}
                                                    selected {% endif %}>{{ customer }}</option>
                                        {% endfor %}
                                    </select>
                                    <p>نوع حساب :</p>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="type"
                                               id="type-fakhr" value="فخر"
                                               {% if account.type == 'فخر' %}checked{% endif %}>
                                        <label class="form-check-label" for="type-fakhr">
                                            حساب فخر
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="type"
                                               id="type-fakher" value="فاخر"
                                               {% if account.type == 'فاخر' %}checked{% endif %}>
                                        <label class="form-check-label" for="type-fakher">
                                            حساب فاخر
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="type"
                                               id="type-eftekhar" value="افتخار"
                                               {% if account.type == 'افتخار' %}checked{% endif %}>
                                        <label class="form-check-label" for="type-eftekhar">
                                            حساب افتخار
                                        </label>
                                    </div>
                                    <div class="form-floating my-3">
                                        <input type="text" class="form-control" id="floatingInput"
                                               placeholder="1234-5678-9012-3456" value="{{ account.account_number }}"
                                               name="account_number"
                                               style="height:2px !important;" required>
                                        <label for="floatingInput"
                                               style="right:0; transform-origin: 100% 0;">شماره حساب</label>
                                    </div>
                                    <div class="form-floating my-3">
                                        <input type="text" class="form-control" id="floatingInput"
                                               placeholder="1234-5678-9012-3456" value="{{ account.name }}"
                                               name="name"
                                               style="height:2px !important;" required>
                                        <label for="floatingInput"
                                               style="right:0; transform-origin: 100% 0;">نام حساب</label>
                                    </div>
                                    <div class="form-floating my-3">
                                        <input type="text" class="form-control" id="floatingInput"
                                               placeholder="1234-5678-9012-3456" value="{{ account.balance }}"
                                               name="balance"
                                               style="height:2px !important;" required>
                                        <label for="floatingInput"
                                               style="right:0; transform-origin: 100% 0;">موجودی</label>
                                    </div>
                                    <p>وضعیت حساب :</p>
                                    <select class="form-select my-3" name="status">
                                        <option disabled>انتخاب</option>
                                        <option value="True" {% if account.status %}selected{% endif %}>باز</option>
                                        <option value="False" {% if not account.status %}selected{% endif %}>مسدود
                                        </option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف
                                    </button>
                                    <button type="submit" class="btn btn-success">ویرایش</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="deleteAccount{{ account.account_id }}Modal" data-bs-backdrop="static"
                     data-bs-keyboard="false"
                     tabindex="-1"
                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">حذف حساب</h1>
                            </div>

                            <form method="POST" action="/delete_account/{{ account.account_id }}">
                                <div class="modal-body">
                                    <h4>آیا مطمئنید ؟؟</h4>
                                    <p>آیا از حذف حساب "{{ account }}" مربوط به "{{ account.get_owner() }}" با شماره
                                        حساب {{ account.account_number }} مطمئنید ؟</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف
                                    </button>
                                    <button type="submit" class="btn btn-danger">حذف</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            {% endfor %}

        {% endif %}
    </div>
    <div id="Loans" style="display: none;">
        <div class="row">
            <div class="col-10">
                <h4 class="mt-4">لیست وام ها</h4>
            </div>
            <div class="col-2 pt-3" style="padding-right: 4%;">
                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#checkLoansModal"
                        style="display: inline;">مشاهده وام ها
                </button>
            </div>

            <div class="modal fade" id="checkLoansModal" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">مشاهده وام ها</h1>
                        </div>
                        <div class="modal-body">
                            {% for loan in loans %}
                                <div class="border-bottom my-2 p-1">
                                    <p>{{ loan }}</p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row my-2">
            <div class="col-11 pt-2">
                <h6 style="vertical-align: middle;">فیلتر ها:</h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input type="number" class="form-control" id="searchInLoanNumbers"
                           placeholder="loanNum" onkeyup="searchInTable('loansTable', 'searchInLoanNumbers', 0)">
                    <label for="searchInLoanNumbers" style="right:0; transform-origin: 100% 0;">شماره وام</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="number" class="form-control" id="searchInLoanAccounts"
                           placeholder="accountnum"
                           onkeyup="searchInTable('loansTable', 'searchInLoanAccounts', 1)">
                    <label for="searchInLoanAccounts" style="right:0; transform-origin: 100% 0;">شماره حساب</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="number" class="form-control" id="searchInLoanAmounts"
                           placeholder="loanAmount" onkeyup="searchInTable('loansTable', 'searchInLoanAmounts', 4)">
                    <label for="searchInLoanAmounts" style="right:0; transform-origin: 100% 0;">مبلغ (تومان)</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-floating my-3">
                    <input type="text" class="form-control" id="searchInLoanStatus"
                           placeholder="loanAmount" onkeyup="searchInTable('loansTable', 'searchInLoanStatus', 7)">
                    <label for="searchInLoanStatus" style="right:0; transform-origin: 100% 0;">وضعیت</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating my-3">
                    <input type="text" class="form-control" id="searchInLoanOwners"
                           placeholder="loanAmount" onkeyup="searchInTable('loansTable', 'searchInLoanOwners', 2)">
                    <label for="searchInLoanOwners" style="right:0; transform-origin: 100% 0;">مالک</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating my-3">
                    <input type="text" class="form-control" id="searchInLoanTypes"
                           placeholder="loanAmount" onkeyup="searchInTable('loansTable', 'searchInLoanTypes', 3)">
                    <label for="searchInLoanTypes" style="right:0; transform-origin: 100% 0;">نوع وام</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating my-3">
                    <input type="text" class="form-control" id="searchInLoanAcceptors"
                           placeholder="loanAmount" onkeyup="searchInTable('loansTable', 'searchInLoanAcceptors', 8)">
                    <label for="searchInLoanAcceptors" style="right:0; transform-origin: 100% 0;">تاییدگر</label>
                </div>
            </div>
        </div>
        <div class="table-responsive mt-4">
            <table class="table sortable" id="loansTable">
                <thead>
                <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">شماره وام</th>
                    <th scope="col">شماره حساب</th>
                    <th scope="col">مالک</th>
                    <th scope="col">نوع</th>
                    <th scope="col">مبلغ (تومان)</th>
                    <th scope="col">پرداخت شده(تومان)</th>
                    <th scope="col">درصد</th>
                    <th scope="col">وضعیت</th>
                    <th scope="col">تاییدگر</th>
                    <th scope="col">عملیات</th>
                </tr>
                </thead>
                <tbody>
                {% if account_loans %}
                    {% for account_loan in account_loans %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ account_loan.account_loan_id }}</td>
                            <td>{{ account_loan.get_account().account_number }}</td>
                            <td>{{ account_loan.get_account().get_owner() }}</td>
                            <td>{{ account_loan.get_loan() }}</td>
                            <td data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                data-bs-title="مبلغ کل وام با احتساب {{ account_loan.get_loan().profit }} سود : {{ account_loan.get_amount_with_profit() }}">{{ account_loan.amount }}</td>
                            <td>{{ account_loan.paid }}</td>
                            <td>{{ '%0.2f'| format(account_loan.paid *100 / account_loan.get_amount_with_profit()|float) }}</td>
                            <td>
                                {% if account_loan.status == 0 %}
                                    <span class="badge text-bg-warning">
                                     در انتظار تایید
                                </span>
                                {% elif account_loan.status == 1 %}
                                    <span class="badge text-bg-info">
                                     در حال پرداخت
                                </span>
                                {% else %}
                                    <span class="badge text-bg-success">
                                     پرداخت شده
                                </span>
                                {% endif %}

                            </td>
                            <td>
                                {{ account_loan.get_acceptor() }}
                            </td>
                            <td>
                                {% if account_loan.status == 0 %}
                                    <form action="/accept_loan" method="POST">
                                        <input name="account_loan_id" value="{{ account_loan.account_loan_id }}"
                                               type="hidden">
                                        <button type="button" class="btn btn-outline-primary btn-sm"
                                                data-bs-toggle="modal"
                                                data-bs-target="#acceptLoan{{ account_loan.account_loan_id }}Modal">
                                            تایید وام
                                        </button>

                                        <div class="modal fade" id="acceptLoan{{ account_loan.account_loan_id }}Modal"
                                             data-bs-backdrop="static"
                                             data-bs-keyboard="false"
                                             tabindex="-1"
                                             aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">تایید
                                                            وام</h1>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>جهت تایید وام، کلمه عبور را وارد کنید</p>
                                                        <div class="form-floating my-3">
                                                            <input type="password" class="form-control" name="password"
                                                                   id="acceptLoanPassword"
                                                                   placeholder="accountnum" required>
                                                            <label for="acceptLoanPassword"
                                                                   style="right:0; transform-origin: 100% 0;">کلمه
                                                                عبور</label>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">بستن
                                                        </button>
                                                        <button type="submit" class="btn btn-success">
                                                            تایید وام
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}

                </tbody>
            </table>

            {% if not account_loans %}
                <p class="text-center text-muted">وامی یافت نشد !</p>
            {% endif %}

        </div>

    </div>
    <div id="Transactions" style="display: none;">
        <div class="row">
            <div class="col-10">
                <h4 class="mt-4">لیست تراکنش ها</h4>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-11 pt-2">
                <h6 style="vertical-align: middle;">فیلتر ها:</h6>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input type="number" class="form-control" id="searchInSrcAccounts"
                           placeholder="srcAccountNum"
                           onkeyup="searchInTable('transactionsTable', 'searchInSrcAccounts', 1)">
                    <label for="searchInSrcAccounts" style="right:0; transform-origin: 100% 0;">شماره حساب مبدا</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="number" class="form-control" id="searchInDstAccounts"
                           placeholder="dstAccountNum"
                           onkeyup="searchInTable('transactionsTable', 'searchInDstAccounts', 2)">
                    <label for="searchInDstAccounts" style="right:0; transform-origin: 100% 0;">شماره حساب مقصد</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-floating my-3">
                    <input type="text" class="form-control" id="searchInTransactionNumbers" placeholder="12"
                           onkeyup="searchInTable('transactionsTable', 'searchInTransactionNumbers', 0)">
                    <label for="searchInTransactionNumbers" style="right:0; transform-origin: 100% 0;">شماره
                        تراکنش</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating my-3">
                    <input type="text" class="form-control" id="searchInTransactionCreatedAt" placeholder="12"
                           onkeyup="searchInTable('transactionsTable', 'searchInTransactionCreatedAt', 4)">
                    <label for="searchInTransactionCreatedAt" style="right:0; transform-origin: 100% 0;">زمان</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating my-3">
                    <input type="number" class="form-control" id="searchInTransactionAmounts"
                           placeholder="trx"
                           onkeyup="searchInTable('transactionsTable', 'searchInTransactionAmounts', 3)">
                    <label for="searchInTransactionAmounts" style="right:0; transform-origin: 100% 0;">مبلغ</label>
                </div>
            </div>
        </div>

        <div class="table-responsive mt-4">
            <table class="table sortable">
                <thead>
                <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">شماره تراکنش</th>
                    <th scope="col">شماره حساب مبدا</th>
                    <th scope="col">شماره حساب مقصد</th>
                    <th scope="col">مبلغ (تومان)</th>
                    <th scope="col">زمان</th>
                    <th scope="col">وضعیت</th>
                </tr>
                </thead>
                <tbody>
                {% if transactions %}
                    {% for transaction in transactions %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ transaction.transaction_id }}</td>
                            <td {% if transaction.get_src_account() %} data-bs-toggle="tooltip"
                                                                       data-bs-placement="top"
                                                                       data-bs-title="به نام {{ transaction.get_src_account().get_owner() }}"{% endif %}>{{ transaction.get_src_account().account_number }}
                            </td>
                            <td data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="به نام {{ transaction.get_dst_account().get_owner() }}">{{ transaction.get_dst_account().account_number }}</td>
                            <td>{{ transaction.amount }}</td>
                            <td>{{ transaction.get_created_at() }}</td>
                            <td>
                                {% if transaction.status %}
                                    <h5><span class="badge bg-success">موفق</span></h5>
                                {% else %}
                                    <h5><span class="badge bg-danger">ناموفق</span></h5>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
            {% if not transactions %}
                <p class="text-center text-muted">تراکنشی یافت نشد !</p>
            {% endif %}
        </div>

    </div>
    <div id="Profile" style="display: none;">
        <h5>مشخصات مدیر</h5>
        <form method="POST" action="/update_profile/">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="username"
                       value="{{ user.username }}" name="username">
                <label for="floatingInput" style="right:0; transform-origin: 100% 0;">نام کاربری</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name"
                       value="{{ user.first_name }}" name="first_name">
                <label for="floatingInput" style="right:0; transform-origin: 100% 0;">نام</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="family"
                       value="{{ user.last_name }}" name="last_name">
                <label for="floatingInput" style="right:0; transform-origin: 100% 0;">نام خانوادگی</label>
            </div>
            <div>
                <p style="display: inline;">جنسیت :</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled"
                           {% if user.gender=='آقا' %}checked{% endif %} disabled>
                    <label class="form-check-label" for="flexRadioDisabled">
                        آقا
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled"
                           {% if user.gender == 'خانم' %}checked{% endif %} disabled>
                    <label class="form-check-label" for="flexRadioCheckedDisabled">
                        خانم
                    </label>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="000000000000"
                       value="{{ user.phone_number }}" name="phone_number">
                <label for="floatingInput" style="right:0; transform-origin: 100% 0;">تلفن همراه</label>
            </div>
            <div class="form-floating my-3">
                <input type="date" class="form-control" id="birthdate" value="{{ user.birthdate }}" name="birthdate">
                <label for="birthdate" style="right:0; transform-origin: 100% 0;">تاریخ تولد</label>
            </div>
            <button type="submit" class="btn btn-success mt-1 mb-4">ذخیره</button>
        </form>

        <h5>تغییر کلمه عبور</h5>
        <form method="POST" action="/change_password">
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com"
                       name="old_password">
                <label for="floatingInput" style="right:0; transform-origin: 100% 0;">کلمه عبور فعلی</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com"
                       name="password1">
                <label for="floatingInput" style="right:0; transform-origin: 100% 0;">کلمه عبور جدید</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com"
                       name="password2">
                <label for="floatingInput" style="right:0; transform-origin: 100% 0;">تکرار کلمه عبور جدید</label>
            </div>
            <button type="submit" class="btn btn-primary mt-1 mb-4">تغییر کلمه عبور</button>

        </form>
    </div>
{% endblock %}
