{% extends '_base.html' %}

{% block page_title %}
	بانک فخر | ناحیه کاربری کارمند
{% endblock %}

{% block sidebar_menu %}

                        <li class="nav-item">
                        <a href="#" class="nav-link  text-dark" aria-current="page">
                            مشتریان
                        </a>
                    </li>

                        <li class="nav-item">
                        <a href="#" class="nav-link  text-dark" aria-current="page">
                         حساب ها
                        </a>
                    </li>

                        <li class="nav-item">
                        <a href="#" class="nav-link  text-dark" aria-current="page">
                          وام ها
                        </a>
                    </li>

                        <li class="nav-item">
                        <a href="#" class="nav-link  text-dark" aria-current="page">
                         تراکنش ها
                        </a>
                    </li>
{% endblock %}
