{% extends '_base.html' %}

{% block page_title %}
    بانک فخر | ناحیه کاربری کارمند
{% endblock %}

{% block sidebar_menu %}
        <li class="nav-item">
        <a href="#" class="nav-link text-light active" aria-current="page">
            داشبورد
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link text-dark" aria-current="page">
            مشتریان
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" aria-current="page">
            حساب ها
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" aria-current="page">
            وام ها
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" aria-current="page">
            تراکنش ها
        </a>
    </li>
{% endblock %}


{% block content %}
    <div class="row mb-3">
        <div class="col-6">
            <div class="card card_hover">
                <div class="card-body">
                    <h5 class="card-title">مشتریان</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">تعداد مشتریان بانک</h6>
                    <p class="card-text display-1 text-center">235+</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card card_hover">
                <div class="card-body">
                    <h5 class="card-title">حساب ها</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">تعداد حساب های بانکی فعال</h6>
                    <p class="card-text display-1 text-center">2650+</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card card_hover">
                <div class="card-body">
                    <h5 class="card-title">وام ها</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">تعداد کل وام های داده شده</h6>
                    <p class="card-text display-1 text-center">56+</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card card_hover">
                <div class="card-body">
                    <h5 class="card-title">تراکنش ها</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">تعداد کل تراکنش های انجام شده</h6>
                    <p class="card-text display-1 text-center">256+</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}