{% extends '_base.html' %}

{% block page_title %}
    بانک فخر | ناحیه کاربری کارمند
{% endblock %}

{% block sidebar_menu %}
    <li class="nav-item">
        <a href="#" class="nav-link text-dark" aria-current="page">
            داشبورد
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" aria-current="page">
            مشتریان
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" aria-current="page">
            حساب ها
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" aria-current="page">
            وام ها
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" aria-current="page">
            تراکنش ها
        </a>
    </li>
{% endblock %}

{% block content %}
    <h5>مشخصات</h5>
    <form action="">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                   value="Mostafa Fakhr">
            <label for="floatingInput" style="right:0; transform-origin: 100% 0;">نام کاربری</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                   value="مصطفی">
            <label for="floatingInput" style="right:0; transform-origin: 100% 0;">نام</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                   value="بهشت احمد">
            <label for="floatingInput" style="right:0; transform-origin: 100% 0;">نام خانوادگی</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                   value="0952652626943">
            <label for="floatingInput" style="right:0; transform-origin: 100% 0;">تلفن همراه</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                   value="1402/02/23">
            <label for="floatingInput" style="right:0; transform-origin: 100% 0;">تاریخ تولد</label>
        </div>
        <button type="submit" class="btn btn-success mt-1 mb-4">ذخیره</button>
    </form>

    <h5>تغییر کلمه عبور</h5>

    <form action="">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput" style="right:0; transform-origin: 100% 0;">کلمه عبور فعلی</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput" style="right:0; transform-origin: 100% 0;">کلمه عبور جدید</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput" style="right:0; transform-origin: 100% 0;">تکرار کلمه عبور جدید</label>
        </div>
        <button type="submit" class="btn btn-primary mt-1 mb-4">تغییر کلمه عبور</button>

    </form>
{% endblock %}
