{% extends '_base.html' %}

{% block page_title %}
    بانک فخر | ناحیه کاربری کاربر
{% endblock %}

{% block custom_style %}
    <link rel="stylesheet" href="static/styles/card_styles.css">
{% endblock %}

{% block sidebar_menu %}
    <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page" id="sidebar-Dashboard"
           onclick="sidebar_menu(this, 'sidebar-Accounts', 'sidebar-Loans', 'sidebar-Transactions', 'sidebar-Profile')">
            داشبورد
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" aria-current="page" id="sidebar-Accounts"
           onclick="sidebar_menu(this, 'sidebar-Dashboard', 'sidebar-Loans', 'sidebar-Transactions', 'sidebar-Profile')">
            حساب های من
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" aria-current="page" id="sidebar-Loans"
           onclick="sidebar_menu(this, 'sidebar-Accounts', 'sidebar-Dashboard', 'sidebar-Transactions', 'sidebar-Profile')">
            وام های من
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" aria-current="page" id="sidebar-Transactions"
           onclick="sidebar_menu(this, 'sidebar-Accounts', 'sidebar-Loans', 'sidebar-Dashboard', 'sidebar-Profile')">
            تراکنش های من
        </a>
    </li>
{% endblock %}


{% block content %}
    <div id="Dashboard">
        <div class="row mb-3">
            <p class="h3 mx-3">حساب ها :</p>
            <div class="col-5 my-2">
                <div class="credit_card card_hover" style="background-image: url('static/img/card/bg-2.jpg');">
                    <header>
        <span class="logo">
          <img src="{{ url_for('static', filename='img/card/logo.png') }}" alt=""/>
          <h5 class="card_text">فاخر کارت</h5>
        </span>
                        <img src="{{ url_for('static', filename='img/card/chip.png') }}" alt="" class="chip"/>
                    </header>
                    <div class="card_balance">
                        <p class="text-light balance">موجودی ۵۰۰۰۰۰۰۰</p>
                    </div>
                    <div class="card-details">
                        <div class="name-number">
                            <h6 class="card_text">شماره حساب</h6>
                            <h5 class="number card_text">8050 5040 2030 3020</h5>
                            <h5 class="name card_text">مصطفی فخراحمد</h5>
                        </div>
                        <div class="valid-date">
                            <h6 class="card_text">تاریخ انقضا</h6>
                            <h5 class="card_text">05/28</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5 my-2">
                <div class="credit_card card_hover" style="background-image: url('static/img/card/bg-3.jpg');">
                    <header>
        <span class="logo">
          <img src="{{ url_for('static', filename='img/card/logo.png') }}" alt=""/>
          <h5 class="card_text">فخر کارت</h5>
        </span>
                        <img src="{{ url_for('static', filename='img/card/chip.png') }}" alt="" class="chip"/>
                    </header>
                    <div class="card_balance">
                        <p class="text-light balance">موجودی ۵۰۰۰۰۰۰۰</p>
                    </div>
                    <div class="card-details">
                        <div class="name-number">
                            <h6 class="card_text">شماره حساب</h6>
                            <h5 class="number card_text">8050 5040 2030 3020</h5>
                            <h5 class="name card_text">مصطفی جنت مسلک</h5>
                        </div>
                        <div class="valid-date">
                            <h6 class="card_text">تاریخ انقضا</h6>
                            <h5 class="card_text">05/28</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5 my-2">
                <div class="credit_card card_hover" style="background-image: url('static/img/card/bg-4.jpg');">
                    <header>

        <span class="logo">
          <img src="{{ url_for('static', filename='img/card/logo.png') }}" alt=""/>
          <h5 class="card_text">افتخار کارت</h5>
        </span>
                        <img src="{{ url_for('static', filename='img/card/chip.png') }}" alt="" class="chip"/>
                    </header>
                    <div class="card_balance">
                        <p class="text-light balance">موجودی ۵۰۰۰۰۰۰۰</p>
                    </div>
                    <div class="card-details">
                        <div class="name-number">
                            <h6 class="card_text">شماره حساب</h6>
                            <h5 class="number card_text">8050 5040 2030 3020</h5>
                            <h5 class="name card_text">مصطفی جنت مسلک</h5>
                        </div>
                        <div class="valid-date">
                            <h6 class="card_text">تاریخ انقضا</h6>
                            <h5 class="card_text">05/28</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="h3 mx-3 mt-4">وام ها :</p>
            <div class="col-4">
                <div class="card card_hover">
                    <div class="card-body">
                        <h5 class="card-title">۱۲۰ میلیون تومان | ۱۲ قسط</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">۵ قسط پرداخت شده</h6>
                        <span>تصفیه شده : </span>
                        <p class="card-text h3 text-center">20 میلیون تومان</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example"
                             aria-valuenow="75"
                             aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                 style="width: {{ 20/120*100 }}%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card card_hover">
                    <div class="card-body">
                        <h5 class="card-title">150 میلیون تومان | ۱۲ قسط</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">۵ قسط پرداخت شده</h6>
                        <span>تصفیه شده : </span>
                        <p class="card-text h3 text-center">20 میلیون تومان</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example"
                             aria-valuenow="75"
                             aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                 style="width: {{ 20/120*100 }}%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <div class="card card_hover my-3">
                    <div class="card-body">
                        <p class="card-text" style="display: inline;">مجموع مبلغ بدهی : 12,500,659,380</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="Accounts" style="display: none;">
        <div class="row">
            <div class="col-10">
                <h4 class="mt-4">لیست حساب ها</h4>
            </div>
            <div class="col-2 pt-3" style="padding-right: 4.34%;">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addAccountModal">افزودن حساب
                </button>
            </div>

            <div class="modal fade" id="addAccountModal" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">افزودن حساب</h1>
                        </div>
                        <form action="">
                            <div class="modal-body">
                                <select class="form-select my-3" aria-label="کاربر حساب را انتخاب کنید">
                                    <option selected>کاربر</option>
                                    <option value="1">مصطفی</option>
                                    <option value="2">احمد</option>
                                    <option value="3">فخری</option>
                                </select>
                                <p>نوع حساب :</p>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type"
                                           id="type-fakhr">
                                    <label class="form-check-label" for="type-fakhr">
                                        حساب فخر
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type"
                                           id="type-fakher" checked>
                                    <label class="form-check-label" for="type-fakher">
                                        حساب فاخر
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type"
                                           id="type-eftekhar" checked>
                                    <label class="form-check-label" for="type-eftekhar">
                                        حساب افتخار
                                    </label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
                                <button type="button" class="btn btn-success">افزودن</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="row my-2">
            <div class="col-11 pt-2">
                <h6 style="vertical-align: middle;">فیلتر ها:</h6>
            </div>
            <div class="col-1">
                <button class="btn btn-primary btn-small">اعمال</button>
            </div>
        </div>
        <form action="">
            <div class="row">
                <div class="col">

                    <div class="form-floating">
                        <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com"
                               style="height:2px !important;">
                        <label for="floatingInput" style="right:0; transform-origin: 100% 0;">موجودی</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="date" class="form-control" id="creationTime">
                        <label for="creationTime" style="right:0; transform-origin: 100% 0;">تاریخ ایجاد</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col my-3">

                    <div class="form-floating">
                        <input type="number" class="form-control" id="account_number"
                               placeholder="account_number">
                        <label for="account_number" style="right:0; transform-origin: 100% 0;">شماره حساب</label>
                    </div>
                </div>
                <div class="col my-auto">
                    <div class="input-group">
                        <select class="form-select form-select">
                            <option selected>نوع حساب</option>
                            <option value="1">حساب فخر</option>
                            <option value="2">حساب فاخر</option>
                            <option value="3">حساب افتخار</option>
                        </select>
                    </div>
                </div>

            </div>
        </form>
        <div class="table-responsive mt-4">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">شماره حساب</th>
                    <th scope="col">نوع حساب</th>
                    <th scope="col">نام حساب</th>
                    <th scope="col">مالک</th>
                    <th scope="col">موجودی</th>
                    <th scope="col">زمان ایجاد</th>
                    <th scope="col">عملیات</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>1234-5678-9012-3456</td>
                    <td>حساب فاخر</td>
                    <td>حساب مادربزرگ عمه احمد</td>
                    <td>مصطفی احمدی</td>
                    <td>653,659,232</td>
                    <td>قبل از بیگ بنگ</td>
                    <td>
                        <a type="button" class="btn btn-outline-primary btn-sm">مشاهده</a>
                        <a type="button" class="btn btn-outline-danger btn-sm">حذف</a>
                        <a type="button" class="btn btn-outline-warning btn-sm">تغییر</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
    <div id="Loans" style="display: none;">
        <div class="row">
            <div class="col-10">
                <h4 class="mt-4">لیست وام ها</h4>
            </div>
            <div class="col-2 pt-3" style="padding-right: 1.5%;">
                <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#addLoanModal"
                        style="display: inline;">ثبت درخواست وام
                </button>
            </div>

            <div class="modal fade" id="addLoanModal" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">ثبت درخواست وام</h1>
                        </div>
                        <form action="">
                            <div class="modal-body">
                                <div class="input-group-sm mb-3">
                                    <select class="form-select form-select-sm">
                                        <option selected>درصد سود</option>
                                        <option value="1">20 درصد</option>
                                        <option value="2">40 درصد</option>
                                    </select>
                                </div>
                                <div class="input-group-sm mb-3">
                                    <select class="form-select form-select-sm">
                                        <option selected>حساب</option>
                                        <option value="1">حساب ۱</option>
                                        <option value="2">حساب ۲</option>
                                    </select>
                                </div>
                                <div class="form-floating my-3">
                                    <input type="number" class="form-control" id="loanAmount"
                                           placeholder="loanAmount">
                                    <label for="loanAmount" style="right:0; transform-origin: 100% 0;">مبلغ</label>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
                                <button type="button" class="btn btn-success">افزودن</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="checkLoansModal" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">مشاهده وام ها</h1>
                        </div>
                        <div class="modal-body">
                            <div class="border-bottom my-2 p-1">
                                <div class="row">
                                    <div class="col-10">
                                        <p>مشتی</p>
                                    </div>
                                    <div class="col-2">
                                        <button type="button" class="btn btn-outline-danger btn-sm">حذف</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row my-2">
            <div class="col-11 pt-2">
                <h6 style="vertical-align: middle;">فیلتر ها:</h6>
            </div>
            <div class="col-1">
                <button class="btn btn-primary btn-small">اعمال</button>
            </div>
        </div>

        <form action="">
            <div class="row">
                <div class="col">
                    <div class="form-floating my-3">
                        <input type="number" class="form-control" id="loanNumbrer"
                               placeholder="loanNum">
                        <label for="loanNumbrer" style="right:0; transform-origin: 100% 0;">شماره وام</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating my-3">
                        <input type="number" class="form-control" id="accountNumber"
                               placeholder="accountnum">
                        <label for="accountNumber" style="right:0; transform-origin: 100% 0;">شماره حساب</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating my-3">
                        <input type="number" class="form-control" id="loanAmount"
                               placeholder="loanAmount">
                        <label for="loanAmount" style="right:0; transform-origin: 100% 0;">مبلغ</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group-sm mb-3">
                        <select class="form-select form-select-sm">
                            <option selected>وضعیت</option>
                            <option value="1">درحال پرداخت</option>
                            <option value="2">تصفیه شده</option>
                            <option value="2">در انتظار تایید</option>
                        </select>
                    </div>

                </div>
                <div class="col">
                    <div class="input-group-sm mb-3">
                        <select class="form-select form-select-sm">
                            <option selected>درصد سود</option>
                            <option value="1">20 درصد</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>

        <div class="table-responsive mt-4">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">شماره وام</th>
                    <th scope="col">شماره حساب</th>
                    <th scope="col">مالک</th>
                    <th scope="col">مبلغ</th>
                    <th scope="col">مدت</th>
                    <th scope="col">سود</th>
                    <th scope="col">وضعیت</th>
                    <th scope="col">زمان درخواست</th>
                    <th scope="col">پرداخت شده</th>
                    <th scope="col">عملیات</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>2652659</td>
                    <td>6659-5265-1639-1369</td>
                    <td>مصطفی فخرجنت مسلک</td>
                    <td>12000000</td>
                    <td>۱۲ ماه</td>
                    <td>20 درصد</td>
                    <td>
                        <span class="badge text-bg-info">
                            در حال پرداخت
                        </span>
                    </td>
                    <td>1 ثانیه قبل از بیگ بنگ</td>
                    <td>200000</td>
                    <td>
                        <a type="button" class="btn btn-outline-danger btn-sm">حذف</a>
                        <a type="button" class="btn btn-outline-primary btn-sm">تایید</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
    <div id="Transactions" style="display: none;">
        <h4 class="mt-4">لیست تراکنش ها</h4>
        <div class="row my-2">
            <div class="col-11 pt-2">
                <h6 style="vertical-align: middle;">فیلتر ها:</h6>
            </div>
            <div class="col-1">
                <button class="btn btn-primary btn-small">اعمال</button>
            </div>
        </div>

        <form action="">
            <div class="row">
                <div class="col">
                    <div class="form-floating my-3">
                        <input type="number" class="form-control" id="srcAccountNum"
                               placeholder="srcAccountNum">
                        <label for="srcAccountNum" style="right:0; transform-origin: 100% 0;">شماره حساب مبدا</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating my-3">
                        <input type="number" class="form-control" id="dstAccountNum"
                               placeholder="dstAccountNum">
                        <label for="dstAccountNum" style="right:0; transform-origin: 100% 0;">شماره حساب مقصد</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating my-3">
                        <input type="date" class="form-control" id="birthdate">
                        <label for="birthdate" style="right:0; transform-origin: 100% 0;">تاریخ</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating my-3">
                        <input type="number" class="form-control" id="trxAmount"
                               placeholder="trx">
                        <label for="trxAmount" style="right:0; transform-origin: 100% 0;">مبلغ</label>
                    </div>
                </div>
            </div>
        </form>

        <div class="table-responsive mt-4">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">شماره تراکنش</th>
                    <th scope="col">شماره حساب مبدا</th>
                    <th scope="col">شماره حساب مقصد</th>
                    <th scope="col">مبلغ</th>
                    <th scope="col">زمان</th>
                    <th scope="col">وضعیت</th>
                    <th scope="col">عملیات</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>2652659</td>
                    <td>6659-5265-1639-1369</td>
                    <td>6659-5265-1639-1369</td>
                    <td>12000000</td>
                    <td>سالروز فرار شاه</td>
                    <td>موفق</td>
                    <td>
                        <a type="button" class="btn btn-outline-primary btn-sm">مشاهده</a>
                        <a type="button" class="btn btn-outline-danger btn-sm">حذف</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
    <div id="Profile" style="display: none;">
        <h5>مشخصات کاربر</h5>
        <form action="">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                       value="Mostafa Fakhr">
                <label for="floatingInput" style="right:0; transform-origin: 100% 0;">نام کاربری</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                       value="مصطفی">
                <label for="floatingInput" style="right:0; transform-origin: 100% 0;">نام</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                       value="بهشت احمد">
                <label for="floatingInput" style="right:0; transform-origin: 100% 0;">نام خانوادگی</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                       value="0952652626943">
                <label for="floatingInput" style="right:0; transform-origin: 100% 0;">تلفن همراه</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                       value="1402/02/23">
                <label for="floatingInput" style="right:0; transform-origin: 100% 0;">تاریخ تولد</label>
            </div>
            <button type="submit" class="btn btn-success mt-1 mb-4">ذخیره</button>
        </form>

        <div class="h5">تغییر کلمه عبور</div>
        <form action="">
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" style="right:0; transform-origin: 100% 0;">کلمه عبور فعلی</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" style="right:0; transform-origin: 100% 0;">کلمه عبور جدید</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" style="right:0; transform-origin: 100% 0;">تکرار کلمه عبور جدید</label>
            </div>
            <button type="submit" class="btn btn-primary mt-1 mb-4">تغییر کلمه عبور</button>

        </form>
    </div>
{% endblock %}
