{% extends '_base.html' %}

{% block page_title %}
    بانک فخر | ناحیه کاربری کاربر
{% endblock %}

{% block custom_style %}
    <link rel="stylesheet" href="static/styles/card_styles.css">
{% endblock %}

{% block sidebar_menu %}
    <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
            داشبورد
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" aria-current="page">
            حساب ها
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" aria-current="page">
            وام های من
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link  text-dark" aria-current="page">
            تراکنش های من
        </a>
    </li>
{% endblock %}


{% block content %}
    <div class="row mb-3">
        <p class="h3 mx-3">حساب ها :</p>
        <div class="col-5 my-2">
            <div class="credit_card card_hover" style="background-image: url('static/img/card/bg-2.jpg');">
                <header>
        <span class="logo">
          <img src="{{ url_for('static', filename='img/card/logo.png') }}" alt=""/>
          <h5 class="card_text">فاخر کارت</h5>
        </span>
                    <img src="{{ url_for('static', filename='img/card/chip.png') }}" alt="" class="chip"/>
                </header>
                <div class="card_balance">
                    <p class="text-light balance">موجودی ۵۰۰۰۰۰۰۰</p>
                </div>
                <div class="card-details">
                    <div class="name-number">
                        <h6 class="card_text">شماره حساب</h6>
                        <h5 class="number card_text">8050 5040 2030 3020</h5>
                        <h5 class="name card_text">مصطفی فخراحمد</h5>
                    </div>
                    <div class="valid-date">
                        <h6 class="card_text">تاریخ انقضا</h6>
                        <h5 class="card_text">05/28</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 my-2">
            <div class="credit_card card_hover" style="background-image: url('static/img/card/bg-3.jpg');">
                <header>
        <span class="logo">
          <img src="{{ url_for('static', filename='img/card/logo.png') }}" alt=""/>
          <h5 class="card_text">فخر کارت</h5>
        </span>
                    <img src="{{ url_for('static', filename='img/card/chip.png') }}" alt="" class="chip"/>
                </header>
                <div class="card_balance">
                    <p class="text-light balance">موجودی ۵۰۰۰۰۰۰۰</p>
                </div>
                <div class="card-details">
                    <div class="name-number">
                        <h6 class="card_text">شماره حساب</h6>
                        <h5 class="number card_text">8050 5040 2030 3020</h5>
                        <h5 class="name card_text">مصطفی جنت مسلک</h5>
                    </div>
                    <div class="valid-date">
                        <h6 class="card_text">تاریخ انقضا</h6>
                        <h5 class="card_text">05/28</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 my-2">
            <div class="credit_card card_hover" style="background-image: url('static/img/card/bg-4.jpg');">
                <header>

        <span class="logo">
          <img src="{{ url_for('static', filename='img/card/logo.png') }}" alt=""/>
          <h5 class="card_text">افتخار کارت</h5>
        </span>
                    <img src="{{ url_for('static', filename='img/card/chip.png') }}" alt="" class="chip"/>
                </header>
                <div class="card_balance">
                    <p class="text-light balance">موجودی ۵۰۰۰۰۰۰۰</p>
                </div>
                <div class="card-details">
                    <div class="name-number">
                        <h6 class="card_text">شماره حساب</h6>
                        <h5 class="number card_text">8050 5040 2030 3020</h5>
                        <h5 class="name card_text">مصطفی جنت مسلک</h5>
                    </div>
                    <div class="valid-date">
                        <h6 class="card_text">تاریخ انقضا</h6>
                        <h5 class="card_text">05/28</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="h3 mx-3 mt-4">وام ها :</p>
        <div class="col-4">
            <div class="card card_hover">
                <div class="card-body">
                    <h5 class="card-title">۱۲۰ میلیون تومان | ۱۲ قسط</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">۵ قسط پرداخت شده</h6>
                    <span>تصفیه شده : </span>
                    <p class="card-text h3 text-center">20 میلیون تومان</p>
                    <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
                         aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ 20/120*100 }}%"></div>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-4">
            <div class="card card_hover">
                <div class="card-body">
                    <h5 class="card-title">150 میلیون تومان | ۱۲ قسط</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">۵ قسط پرداخت شده</h6>
                    <span>تصفیه شده : </span>
                    <p class="card-text h3 text-center">20 میلیون تومان</p>
                    <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
                         aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ 20/120*100 }}%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <div class="card card_hover my-3">
                <div class="card-body">
                    <p class="card-text" style="display: inline;">مجموع مبلغ بدهی : 12,500,659,380</p>
                </div>
            </div>
        </div>
    </div>



{% endblock %}