{% extends '_base.html' %}

{% block page_title %}
    بانک فخر | ناحیه کاربری کاربر
{% endblock %}

{% block sidebar_menu %}
                        <li class="nav-item">
                        <a href="#" class="nav-link  text-dark" aria-current="page">
                         حساب ها
                        </a>
                    </li>

                        <li class="nav-item">
                        <a href="#" class="nav-link  text-dark" aria-current="page">
                          وام های من
                        </a>
                    </li>

                        <li class="nav-item">
                        <a href="#" class="nav-link  text-dark" aria-current="page">
                         تراکنش های من
                        </a>
                    </li>
{% endblock %}

{% block content %}

{% endblock %}
